
/mtool/__pycache__
/mtool/convert/__pycache__
/mtool/file/__pycache__
/mtool/image/__pycache__
/mtool/pdf/__pycache__
/mtool/util/__pycache__
/mtool/video/__pycache__
/mtool/web/__pycache__
/mtool/text/__pycache__
/mtool/tetris
/.claude
/mtool/ln/__pycache__
/tests/__pycache__
